@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?s1iw2n');
  src:  url('fonts/icomoon.eot?s1iw2n#iefix') format('embedded-opentype'),
    url('fonts/icomoon.woff2?s1iw2n') format('woff2'),
    url('fonts/icomoon.ttf?s1iw2n') format('truetype'),
    url('fonts/icomoon.woff?s1iw2n') format('woff'),
    url('fonts/icomoon.svg?s1iw2n#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-categories .path1:before {
  content: "\e900";
  color: rgb(145, 93, 66);
}
.icon-categories .path2:before {
  content: "\e901";
  margin-left: -1em;
  color: rgb(249, 95, 18);
}
.icon-categories .path3:before {
  content: "\e902";
  margin-left: -1em;
  color: rgb(216, 171, 224);
}
.icon-categories .path4:before {
  content: "\e903";
  margin-left: -1em;
  color: rgb(216, 216, 216);
}
.icon-coffee:before {
  content: "\e904";
}
.icon-list:before {
  content: "\e905";
}
.icon-clock:before {
  content: "\e932";
}
.icon-unlock:before {
  content: "\e933";
}
.icon-store:before {
  content: "\e934";
}
.icon-print:before {
  content: "\e935";
}
.icon-map-marked:before {
  content: "\e936";
}
.icon-globe:before {
  content: "\e937";
}
.icon-ellipsis-v:before {
  content: "\e938";
}
.icon-ellipsis-h:before {
  content: "\e939";
}
.icon-checklist-board:before {
  content: "\e93a";
}
.icon-register:before {
  content: "\e93b";
}
.icon-boxes:before {
  content: "\e93c";
}
.icon-box-heart:before {
  content: "\e93d";
}
.icon-box:before {
  content: "\e93e";
}
.icon-checklist:before {
  content: "\e93f";
}
.icon-google .path1:before {
  content: "\e940";
  color: rgb(251, 187, 0);
}
.icon-google .path2:before {
  content: "\e974";
  margin-left: -1em;
  color: rgb(81, 142, 248);
}
.icon-google .path3:before {
  content: "\e975";
  margin-left: -1em;
  color: rgb(40, 180, 70);
}
.icon-google .path4:before {
  content: "\e976";
  margin-left: -1em;
  color: rgb(241, 67, 54);
}
.icon-apple:before {
  content: "\e941";
}
.icon-facebook:before {
  content: "\e942";
  color: #475993;
}
.icon-bill:before {
  content: "\e944";
}
.icon-pin:before {
  content: "\e945";
}
.icon-list-fat:before {
  content: "\e946";
}
.icon-heart-filled:before {
  content: "\e947";
}
.icon-cubes-filled:before {
  content: "\e948";
}
.icon-arrow-right-filled:before {
  content: "\e949";
}
.icon-plus:before {
  content: "\e94a";
}
.icon-angle-right:before {
  content: "\e94b";
}
.icon-arrow-left:before {
  content: "\e94c";
}
.icon-arrow-right:before {
  content: "\e94d";
}
.icon-bars:before {
  content: "\e94e";
}
.icon-burger:before {
  content: "\e94f";
}
.icon-camera:before {
  content: "\e950";
}
.icon-cappuccino:before {
  content: "\e951";
}
.icon-chart-pie:before {
  content: "\e952";
}
.icon-check:before {
  content: "\e953";
}
.icon-arrow-down:before {
  content: "\e954";
}
.icon-cog:before {
  content: "\e955";
}
.icon-comment:before {
  content: "\e956";
}
.icon-credit-card:before {
  content: "\e957";
}
.icon-cubes:before {
  content: "\e958";
}
.icon-exclamation:before {
  content: "\e959";
}
.icon-warning:before {
  content: "\e95a";
}
.icon-file:before {
  content: "\e95b";
}
.icon-gift:before {
  content: "\e95c";
}
.icon-giftpass:before {
  content: "\e95d";
}
.icon-user:before {
  content: "\e95e";
}
.icon-unlink:before {
  content: "\e95f";
}
.icon-trash:before {
  content: "\e960";
}
.icon-close:before {
  content: "\e961";
}
.icon-tea:before {
  content: "\e962";
}
.icon-cart:before {
  content: "\e963";
}
.icon-search:before {
  content: "\e964";
}
.icon-qrcode:before {
  content: "\e965";
}
.icon-pizza:before {
  content: "\e966";
}
.icon-pencil:before {
  content: "\e967";
}
.icon-bill1:before {
  content: "\e968";
}
.icon-pin1:before {
  content: "\e969";
}
.icon-list1:before {
  content: "\e96a";
}
.icon-link:before {
  content: "\e96b";
}
.icon-info-circle:before {
  content: "\e96c";
}
.icon-info:before {
  content: "\e96d";
}
.icon-hourglass:before {
  content: "\e96e";
}
.icon-home:before {
  content: "\e96f";
}
.icon-brokenheart:before {
  content: "\e970";
}
.icon-users:before {
  content: "\e971";
}
.icon-heart:before {
  content: "\e972";
}
.icon-basketball:before {
  content: "\e973";
}
